*.lock
build
TeraAPI/.gradle/5.1.1/fileHashes/fileHashes.bin
TeraAPI/.gradle/buildOutputCleanup/cache.properties
TeraAPI/.gradle/buildOutputCleanup/outputFiles.bin
TeraAPI/.gradle/5.1.1/fileHashes/fileHashes.bin
TeraAPI/.gradle/buildOutputCleanup/cache.properties
TeraAPI/.gradle/5.1.1/executionHistory/executionHistory.bin
.idea/Tera-Grail-API.iml
.idea/php.xml
.idea/modules.xml
.idea/vcs.xml
phpapi/class/.env
phpapi/controllers/logs.txt
TeraAPI/.gradle/5.1.1/executionHistory/executionHistory.bin
TeraAPI/.gradle/5.1.1/fileHashes/fileHashes.bin
TeraAPI/.idea/modules.xml
TeraAPI/.idea/TeraAPI.iml
TeraAPI/.idea/vcs.xml
TeraAPI/.idea/modules.xml
