*.lock
build
TeraAPI/.gradle/5.1.1/fileHashes/fileHashes.bin
TeraAPI/.gradle/buildOutputCleanup/cache.properties
TeraAPI/.gradle/buildOutputCleanup/outputFiles.bin
TeraAPI/.gradle/5.1.1/fileHashes/fileHashes.bin
TeraAPI/.gradle/buildOutputCleanup/cache.properties
TeraAPI/.gradle/5.1.1/executionHistory/executionHistory.bin
